docker.enabled = true
process.executor = 'awsbatch'
docker.runOptions='-u $(id -u):$(id -g)'

aws {
    
    region = 'us-east-1'
}

fusion {
    enabled = true
    exportStorageCredentials = true
}

wave {
    enabled = true
}


process {
    withName: 'FASTP' {
        cpus = 4
        memory = 8.GB
        queue = 'exomeqc-que'
        container = 'public.ecr.aws/a4a8c1m7/jj-fastp'
    }

    withName: 'FastQC' {
        cpus = 4
        memory = 8.GB
        queue = 'exomeqc-que'
        container = 'public.ecr.aws/a4a8c1m7/jj-fastqc'
    }
    
    withName: 'BWA' {
        cpus = 30
        memory =120.GB
        queue = 'exomeqc-que'
        container = 'public.ecr.aws/a4a8c1m7/bwa-samtools'
    }
    
}

